# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

#####
#🔸 OS X temporary files that should never be committed
.DS_Store
*.swp
*.lock

#####
#🔸 DotEnv files
.env

####
#🔸 Xcode temporary files that should never be committed
*~.nib

####
#🔸 Objective-C/Swift specific
*.hmap
*.ipa

####
#🔸 Xcode build files
DerivedData/
build/
Builds/

#####
#🔸 Xcode private settings (window sizes, bookmarks, breakpoints, custom executables, smart groups)
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

####
#🔸 Xcode 4
xcuserdata
!xcschemes
# Xcode 4
*.moved-aside

####
#🔸 XCode 4 workspaces - more detailed
!default.xcworkspace
*.xcworkspacedata


####
#🔸 Xcode 5
*.xccheckout
*.xcuserstate

####
#🔸 Xcode 7
*.xcscmblueprint

####
#🔸 AppCode
.idea/

####
#🔸 Other Xcode files
*.hmap
*.ipa

####
#🔸 In case of xcodegen
IDEWorkspaceChecks.plist
.xcodeproj

####
#🔸 CocoaPods
Pods/
!Podfile
!Podfile.lock

####
#🔸 Carthage
Carthage/Build.rbenv-vars
!Cartfile
!Cartfile.private
!Cartfile.resolved

####
#🔸 Fastlane
# Temporary profiling data
/fastlane/report.xml
# Deliver temporary error output
/fastlane/Error*.png
# Deliver temporary preview output
/fastlane/Preview.html
# Snapshot generated screenshots
/fastlane/screenshots/*/*-portrait.png
/fastlane/screenshots/*/*-landscape.png
/fastlane/screenshots/screenshots.html
# Frameit generated screenshots
/fastlane/screenshots/*/*-portrait_framed.png
/fastlane/screenshots/*/*-landscape_framed.png
/fastlane/README.md

####
#🔸 rbenv
.rbenv-vars

BetaBuilds/*
